
<html>
    <head>
        <title>Test Page</title>
    </head>

    <body>
        <div id="spending">
            <p>Enter item name and item value below</p>
            <form action="/", method="POST">
                <p>Item: </p>
                <input type="text" name="item">
                <p>Value: </p>
                <input type="number" step="0.01" name="spending">
                <button name="submitButton" type="submit">SUBMIT</button>
            </form>
        </div>

        <div id="savings">
            <p id="total_savings">Total Saved: {{total_savings}}</p>
        </div>

        <div id="challenge">
            <p id="random_challenge">Instead of spending {{amount}} on {{item}}, do this instead: {{random_challenge}}</p>
        </div>
    </body>
</html>